<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Settings.BlogTitle}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Tajawal" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> style}}
    {{> meta}}
    
    <link rel="dns-prefetch" href="//rosenbjerg.dk">
    <link rel="dns-prefetch" href="//github.com">
    
</head>
<body>
<div class="container">
    {{> header}}
    {{> navigation}}
    <main>
        {{#each Articles}}
            <article>
                <a class="no-link-style" href="/{{Slug}}">
                    <p class="post-title"><b>{{Title}}</b></p>
                </a>
                <p class="post-time"><i>{{Created}}</i> ◦</p>
                <section class="post-content-short">
                    {{{Html}}}
                </section>
                <a class="no-link-style post-content-short" href="/{{Slug}}">Read full article here →</a>
            </article>
        {{~/each}}
    </main>
    {{> footer}}
</div>
</body>
</html>